html{
  height: 100%;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

;}


.loading{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  background-color:#086972;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

#root{
  height: 100%;
}
.app{
  width: 100%;
  height: 100%;
  background-image: url('./img/bg-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: top;
  
}

main{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 1fr 3fr;
}



.as{
  grid-row: 1/2;
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
  
}

.degree-f,.degree-c{
  font-size: 1.4rem;
}





.Fahrenheit{
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(117, 117, 117, 0.5);
}

.changing-color-button{
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.search-box{
  display: flex;
  justify-content: space-between;
}


.search-box input{
  width: 100%;
  height: 5vh;
}


.search-box button{
  height: 6.3vh;
  width: 70px;
  margin-left: 2em;
  border-radius:5px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(117, 117, 117, 0.5);
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.search-box button:hover{
  color: black;
  background-color: white;
}

input{
  background-color: rgba(44, 44, 44, 0.2);
  color: white;
  outline: none;
  font-size: large;
  border: 4px solid white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgb(214, 214, 214,.8);
  font-weight: 600;
  padding-left: 2em;
}

::placeholder {
  color:white;

 
}



.location-weather{
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 10em 1fr 3em 1fr 2em;
  color: white;
}

.icons{
  width: 80px;
  object-fit: cover;
  background-color: rgb(61, 61, 61);
  border-radius: 4px;
}

.current-weather{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 80%;
  height: 77%;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  background-color: rgba(182, 181, 181, 0.2);

}

.current-weather-details{
  text-align: center;
  height: 90%;
}

.today{
  border-bottom: 3px solid white;
}

.current-weather-text{
  font-size:1.2rem;
  font-weight: 600;
}
.name-of-city{
  font-size: 1.7rem;
  font-weight: 600;
}

.three-days-forcast{
  grid-column: 4/5;
  border-radius: 5px;
  background-color: rgba(197, 197, 197, 0.2);
  width: 100%;
  height: 77%;
}

.three-days-forcast p{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;}



.days{
  width: 100%;
  display: flex;
  justify-content:space-around;
  
}




.f{
  display: none;
  font-size: 4rem;
}

.c{
  font-size: 4rem;
  text-shadow: 0px -1px 2px rgba(0,0,0,0.6);
}

.forecast-weather-text{
  font-size: 1.1rem;

}

@media(max-width:1050px){

  .app{
    height: 150vh;
  }
  

  main{
   
    grid-template-rows: .5fr 2fr 3fr;
    grid-template-columns: 1em 1fr 1em;
  }

  .as{
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .location-weather{
    margin-top: 2em;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
   
  }

  .current-weather{
    width: 100%;
  }

  .three-days-forcast{
    grid-row: 3/4;
    grid-column: 2/3;
    margin-top: 2em;
  }

}

@media(max-width:540px){

  .app{
    height: 225vh;
  }

  .as{
    display: grid;
    grid-template-rows: 1fr 1fr;
    
  }

  .search-box{grid-row: 1/2;}

  .search-box input{
    padding-left: 1em;
  }

  .celsius-ferhnite{grid-row: 2/3;
                    margin-top: 1em;}

  .days{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
